<!-- contact-us.component.html -->

<section class="contact-us">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Kontaktirajte nas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Imate pitanje ili komentar? Slobodno nas kontaktirajte putem dole navedenih informacija.</p>
      <div class="contact-info">
        <p>Email: example@example.com</p>
        <p>Telefon: +123456789</p>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Vaše ime</mat-label>
        <input matInput placeholder="Unesite svoje ime">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email adresa</mat-label>
        <input matInput placeholder="Unesite svoj email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Poruka</mat-label>
        <textarea matInput placeholder="Unesite svoju poruku"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">Pošalji poruku</button>
    </mat-card-content>
  </mat-card>
</section>
