<section class="about-us">
  <mat-card>
    <mat-card-header>
      <mat-card-title>O nama</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Dobrodošli u našu kompaniju! Mi smo posvećeni pružanju kvalitetnih proizvoda i usluga.</p>
      <p>Naš tim stručnjaka radi sa entuzijazmom kako bismo zadovoljili potrebe naših klijenata.</p>
      <p>Pogledajte našu ponudu proizvoda i ne ustručavajte se da nas kontaktirate za dodatne informacije.</p>
    </mat-card-content>
  </mat-card>
</section>
