<mat-grid-list cols="2" >
  <mat-card class="product-card">
    <mat-grid-tile>
      <swiper-container *ngIf="product?.images" navigation="true" class="mySwiper" appSwiper #swiper [config]="swiperConfig"
      thumbs-swiper=".mySwiper2" (slidechange)="slideChange($event)">
      <swiper-slide *ngFor="let item of product!.images">
        <img class="swiper-image ratio ratio-4x3" [src]="item" alt="Product Image">
      </swiper-slide>
    </swiper-container>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content>
        <mat-card-title>{{product?.title}}</mat-card-title>
        <p>{{product?.category}}</p>
        <p>{{product?.description}}</p>
        <p>{{product?.discountPercentage}}</p>
        <p>{{product?.rating}}</p>
        <p>{{product?.stock}}</p>
        <p>{{product?.thumbnail}}</p>
        <p>{{product?.thumbnail}}</p>
        <mat-card-footer>{{product?.price}}</mat-card-footer>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-grid-tile>
  </mat-card>
</mat-grid-list>
